@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.homebody {
  background-color: #FF914D;
}

.header1 {
    color: white;
    padding: 200px, 20px;
    font-family: "Bungee", sans-serif;
}

.header-title1 {
    margin: 150px 0;
    font-size: 10em;
    font-family: "Bungee", sans-serif;
    animation: rainbow 1s steps(7) infinite;
}

.button-container1 {
    margin-top: 0px;
}
  
.button1 {
  padding: 10px 20px;
  padding-top: 100px;
  font-size: 20px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Bungee", sans-serif;
  animation: blink 2s linear infinite;
}
.button1:hover {
  background-color: #45a049;
}

@keyframes blink {
    50% {
      opacity: 0.2;
    }
}

@keyframes rainbow {
  0% {color: red;}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: green;}
  57% {color: blue;}
  71% {color: indigo;}
  85% {color: violet;}
  100% {color: red;}
}
