@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  background-color: #FF914D;
}

.header {
    color: white;
    padding: 200px, 20px;
    font-family: "Bungee", sans-serif;
}

.header-title {
    margin: 100px 0;
    font-size: 2.5em;
    font-family: "Bungee", sans-serif;
}

.button-container1 {
    margin-top: 50px;
  }
  
  .button1 {
    width: 150px; /* Increase width to make the button bigger */
    height: 60px; /* Increase height to make the button bigger */
    font-family: "Bungee", sans-serif; /* Set font-family to "Bungee" */
    font-size: 1.2em; /* Adjust font size as needed */
  }