.header11 {
    color: white;
    padding: 200px, 20px;
    font-family: "Bungee", sans-serif;
}

.header2 {
    color: white;
    padding: 120px, 20px;
    font-family: "Bungee", sans-serif;
}

.container {
    border: 5px solid #fd7824; /* Red outline */
    padding: 20px;
    width: fit-content; 
    margin: auto;
    justify-content: center;
    /* Add padding as needed */
    /* Add any other styling you want for the container */
  }

  .buttons12 {
  
  margin-right: 10px;
  font-size: 20px;
  color: white;
  background-color: #fd7824;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Bungee", sans-serif;
  }
  .buttons12:hover {
    background-color: #e46b20;
  }

  .incorrect {
    margin-top: 20px;
    color: red;
    padding: 200px, 20px;
    font-family: "Bungee", sans-serif;
    text-align: center;
}

.readbutton {
  padding: 10px 20px;
  font-size: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Bungee", sans-serif;
}

.readbutton:hover {
  background-color: #fd7824;
}

.correct {
    margin-top: 20px;
    color: green;
    padding: 200px, 20px;
    font-family: "Bungee", sans-serif;
    text-align: center;
}

.nextbutton {
    margin-top: 20px;
    color: white;
    border-color: transparent;
    font-family: "Bungee", sans-serif;
    text-align: center;
    background: transparent;
    animation: blink 1.5s linear infinite;
    opacity: 1;
}

.nextbutton:hover {
  background-color: #fd7824;

}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}