/* NavbarComponent.css */
.navbar {
    background-color: #FF914D;
    ; /* Set background color */
    padding: 10px; /* Add padding for better appearance */
    color: white; /* Set text color */
  }
  
  .nav-links {
    display: flex; /* Make the child elements flex items */
    justify-content: space-evenly;
  }
  
  .nav-links a {
      text-decoration: none; /* Remove underline */
    }
  
  /* Style each h2 element (box) */
  .nav-links h2 {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for better appearance */
    color: white; /* Set text color */
    cursor: pointer; /* Add cursor pointer for better UX */
    transition: background-color 0.3s; /* Add transition for smooth color change */
  }
  
  /* Change background color on hover */
  .nav-links h2:hover {
    background-color: #777;
  }